#beatLoaders,
#beatLoadersClose {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 50vh;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(89, 81, 81, 0.4);
}

#beatLoadersClose {
  display: none;
}

#waitForPageLoading {
  position: fixed;
  z-index: 1;
  left: 0;
  top: -50px;
  padding-top: 50vh;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f6f7f9;
}

#waitForPageLoading {
  color: #3f92ff;
}

.beatLoaderText {
  color: #ffffff;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* textarea{
  width: 100% !important;
  max-width: 100% !important;
  min-width: auto !important;
} */
